@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

html,
body {
  height: 100%;
  background: #253141;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(
    to bottom,
    rgba(37, 49, 65, 0.7) 0%,
    #253141 80%,
    #253141 100%
  ), 
  url("https://assets1.ignimgs.com/2019/03/27/rankingapex-1553715503676.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
header .left-menu {
  display: flex;
}

header .left-menu .logo {
  font-size: 2rem;
  color: white;
  font-weight: 700;
}
header .left-menu .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
header .left-menu .menu a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.2s ease-in;
}
header .left-menu .menu a:hover {
  color: rgba(255, 255, 255, 1);
}
header .left-menu .menu a .fa {
  margin-left: 10px;
}
header .right-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .right-menu .language {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding: 0 40px;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
header .right-menu .language:hover {
  color: rgba(255, 255, 255, 1);
}
header .right-menu .language .fa {
  margin-left: 10px;
}
header .right-menu .signin {
  background:#0375d5;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
.container {
  width: 960px; 
  margin: 0 auto;
}
.section-title{ 
  font-size: 1.5rem;
  color: white;
  margin-bottom: 30px;
}
#featured { 
  /* padding: 10px 0 5px 0; */
}
#featured .videos-section {
  display: grid;
  grid-template-columns: 1fr 2fr 620px 2fr 1fr;
  grid-gap: 10px;
}
#featured .videos-section .video {
  display: flex;
  justify-content: center;
  align-items: center;
}
#featured .videos-section .video .image{
  width: 100%;
  height: 80%;
  background: url(https://i.ytimg.com/vi/GT6ushVNkGY/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor:pointer;
}
#featured .videos-section .video.center {
  width: 100%;
  height: 349px;
  background: red;
}
#featured .videos-section .video.center .image {
  width: 100%;
  height: 349px;
  background: url(https://static-news.moneycontrol.com/static-mcnews/2019/05/PUBG-Inlay-770x433.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.05);
  border: 2px solid #00b4f0;
}
#featured .videos-section .video:nth-child(1) .image, #featured .videos-section .video:nth-child(5) .image {
  position: relative;
}
#featured .videos-section .video:nth-child(1) .image .arrow {
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}  
#featured .videos-section .video:nth-child(1) .image .arrow:hover {
  background: rgba(0,0,0,0.8);
  transition: all 0.2s ease-in;
}
#featured .videos-section .video:nth-child(5) .image .arrow {
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  right: 0;
}
#featured .videos-section .video:nth-child(5) .image .arrow:hover {
  background: rgba(0,0,0,0.8);
  transition: all 0.2s ease-in;
}
#featured .videos-section .video:nth-child(1) .image .arrow .fa, #featured .videos-section .video:nth-child(5) .image .arrow .fa {
  font-size: 3rem;
  color: #00b4f0
}
#featured .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}
#featured .dots .circles {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#featured .dots .circles .circle{
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#featured .dots .circles .circle .background-color {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  transition: all 0.2s ease-in
}
#featured .dots .circles .circle:hover .background-color {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #00b4f0;
}
#featured .dots .circles .circle.active .background-color {
  width: 17px;
  height: 17px;
  background: white;
}
#top-games {

}

#top-games .games {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-gap: 10px;
}

#top-games .games .game{
  background: url(" https://dotesports-media.nyc3.cdn.digitaloceanspaces.com/wp-content/uploads/2019/06/09131526/Apex-Legends-logo-1280x7201-770x433-770x433-770x433-770x433-770x433.jpg ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
  overflow: hidden;
  cursor: pointer;
}
#top-games .games .game .info {
  background: #253041;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: white;
}
#top-games .games .game:hover  .info{
  background: #313f55;
   transition: all 0.2s ease-in;
}

#top-games .games .game .info .title{
  font-weight: 600;
  margin-bottom: 10px;
}

#top-games .games .game .info .views{
  font-weight: 300;
  color: #8c919d;
  font-size: 0.9rem;
}

#top-games .games .game .info .views .fa{
 margin-right: 5px;
}

